.item {
    align-items: center;
    background-color: rgb(203, 193, 193);
    display: grid;
    grid-template-columns: auto auto;
    padding: 3rem;
    height: 49.2rem;
    width: 63.5rem;
    margin-left: 8.8rem;
    overflow-y: scroll;
}
.item-detail img{
    height: 13rem;
    width: 13rem;
}
.item-detail {
    width: 15rem;
    margin-left: 2rem;
}
.item-detail p{
    margin-top: 0.625rem;
    margin-left: 5rem;
    font-size: 1.25rem;
}
.item-detail Button{
    margin-top: 1.875rem;
    width: 9.375rem;
    margin-left: 2.5rem;
}
.searchBox{
    position: absolute;
    margin-left: 67.8rem;
    width: 3rem;
}